@import '../../styles/mixins';
@import '../../styles/constants';


.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  @include mobile {
    padding: 1.5rem 0;
  }

    &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    @include mobile {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 1rem;
    }}

    &__title {
      @include H1;
      text-align: center;
      padding-bottom: 2rem;
      @include mobile {
        padding-bottom: 1rem;
      }
    }
}

.product {
  width: 314px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include mobile {
    width: 271px;
  }
  & h4 {
    @include mobile {
      font-size: 18px;
    }
  }

  &__image {
    height: 159px;
    background-color: #D9D9D9;
    border-radius: 8px 8px 0 0;
  }

  &__about {
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid $divider-dark;
    border-top: none;
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__caption {
    @include B1;
    @include mobile {
      font-size: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical; 
      overflow: hidden; 
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
  }

  &__details {
    position: relative;

    &_button {
    text-align: left;
    border: none;
    outline: none;
    background-color: inherit;
    @include B2;
    color: $cta;
    cursor: pointer;
    @include mobile {
      font-size: 14px;
    }
    }

    &_icon {
      position: absolute;
      top: 6px;
      left: 83px;
      fill: $cta;
    }
  }
  &:hover &__details_button {
    color: $cta-hover;
  }
  &:hover &__details_icon {
    fill: $cta-hover;
  }
  
  
}