@import '../../styles/mixins';
@import '../../styles/constants';

.product {
  width: 314px;
  height: 340px;
  display: flex;
  flex-direction: column;
  cursor: pointer;



  &__image {
    height: 159px;
    background-color: #D9D9D9;
    border-radius: 8px 8px 0 0;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 1.33rem;
    padding: 1rem;
    border: 1px solid $divider-dark;
    border-top: none;
  }

  &__description {
    @include B1;
  }

  &__details {
    text-align: left;
    border: none;
    outline: none;
    background-color: inherit;
    @include B2;
    color: $cta;
    cursor: pointer;
  }

  &:hover &__details{
    color: $cta-hover;
  }
}