* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 400;
  color: $text-secondary;
}

body {
  display: flex;
  flex-direction: column;
  color: $text-primary;
  align-items: center;
}

#root {
  max-height: 100vh;
}

h1 {
  @include H1;
}

h2 {
  @include H2;
}

h3 {
 @include H3;
}

h4 {
  @include H4;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  @include common-container;
}
