/*Fonts*/
$font: 'Inter';
$font-size: 16px;
$line-height: 24px;

/* Colors */
$text-primary: #252323;
$text-secondary: #4B4B4B;
$divider-dark: #D8D8D8;
$divider-light: #EEF0F2;
$cta: #3366FF;
$cta-hover: #2B57D9;
$accent:  #F8D57E;

/* Break points */
$small-mobile: 321px;
$mobile: 660px;


