/*Fonts*/
$font: 'Inter';
$font-size: 16px;
$line-height: 24px;

/* Colors */
$text-primary: #252323;
$text-secondary: #4B4B4B;
$divider-dark: #D8D8D8;
$divider-light: #EEF0F2;
$cta: #3366FF;
$cta-hover: #2B57D9;
$accent:  #F8D57E;

/* Break points */
$desktop: 1024px;
$mobile: 320px;

/* Fonts */
$H1-font-size: 26px;
$H1-font-weight: 600;
$H1-line-height: 33.8px;

$B1-font-size: 16px;
$B1-font-weight: 400;
$B1-line-height: 24px;

$B2-font-size: 14px;
$B2-font-weight: 400;
$B2-line-height: 21px;

$B3-font-size: 13px;
$B3-font-weight: 400;
$B3-line-height: 19.5px;
