@import './constants';

/* Common Container */
@mixin common-container {
  margin: 0 auto;
  max-width: 640px;

  @include mobile {
    max-width: 272px;
  }
}

/* Responsive media */

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/* Fonts */

@mixin H1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 130%;
  color: $text-primary;

  @include mobile {
    font-size: 22px;
  }
}

@mixin H2 {
  font-size: 23px;
  font-weight: 600;
  line-height: 130%;
  color: $text-primary;

  @include mobile {
    font-size: 20px;
  }
}

@mixin H3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: $text-primary;

  @include mobile {
    font-size: 18px;

  }
}

@mixin H4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  color: $text-primary;

  @include mobile {
    font-size: 16px;
  }
}

@mixin B1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  @include mobile {
    font-size: 14px;
  }
  
}

@mixin B2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  @include mobile {
    font-size: 12px;
  }
}

@mixin B3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  @include mobile {
    font-size: 11px;
  }
}
