@import './constants';

/* Common Container */
@mixin common-container {
  margin: 0 auto;

  @include desktop() {
    max-width: 640px;
  }

  @include mobile {
    max-width: 320px;
  }
}

/* Responsive media */

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/* Fonts */

@mixin B1 {
  font-size: $B1-font-size;
  font-weight: $B1-font-weight;
  line-height: $B1-line-height;
}

@mixin B2 {
  font-size: $B2-font-size;
  font-weight: $B2-font-weight;
  line-height: $B2-line-height;
}

@mixin B3 {
  font-size: $B3-font-size;
  font-weight: $B3-font-weight;
  line-height: $B3-line-height;
}
