@import '../../assets/styles/mixins';
@import '../../assets/styles/constants';


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem 0; 
  @include mobile {
    padding: 1.5rem 0; 
  }

  &__title {
    text-align: center;
  }
  
  &__description {
    text-align: center;
    @include B1;
  }

  &__image {
    background-image: url('../../assets/img/image-holder.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 293px;
    border-radius: 8px;
    @include mobile {
      height: 206px;
      background-size: cover;
      background-position-x: 40%;
    }
  }

  &__caption {
    text-align: center;
    @include B1;
    font-size: 14px;
  }

  &__wrapper {
    width: 100vw;
    background-color: $divider-light;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  padding: 0 1.5rem;
  gap: 1rem;
  @include mobile {
    padding: 0;
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 3.75rem;
    @include mobile {
      gap: 2.5rem;
    }
  }
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $cta;
    &:hover {
      fill: $cta-hover;
    }
  }
  &__description {
    text-align: center;
    @include B2;
    @include mobile {
      font-size: 14px;
    }
  }
}