@import '../../styles/constants';
@import '../../styles/mixins';

.form {
  display: flex;
  gap: 10px;

  &__input {
    width: 324px;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #c0c0c0;
    padding-left: 20px;
    @include B2;
    color: $text-primary;
    cursor: pointer;
  }
}

.submit {
  position: relative;

  &__button {
    width: 98px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-radius: 8px;
    background-color: $cta;
    border: none;
    outline: none;
    @include B2;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $cta-hover;
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 60px;
  }
}
