@import '../../styles/constants';
@import '../../styles/mixins';

.form {
  display: flex;
  gap: 10px;
  @include small-mobile {
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    width: 324px;
    height: 45px;
    outline: none;
    @include B2;
    color: $text-primary;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    padding-left: 20px;
    cursor: pointer;

    @include mobile {
      width: 60vw;
    }
    @include small-mobile {
      width: 100%;
    }
  }
}

.submit {
   position: relative;

  &__button {
    width: 98px;
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-radius: 8px;
    background-color: $cta;
    border: none;
    outline: none;
    @include B2;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $cta-hover;
    }
    @include small-mobile {
      width: 100%;
      font-size: 14px;
      padding-left: 112px;
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    left: 60px;
    @include mobile {
      top: 37%;
      left: 54%;
    }
  }
}
