@import '../../styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    margin: 2rem 0;
    cursor: pointer;
    @include mobile {
      margin: 1.5rem 0;
    }
  }
}