@import '../../styles/mixins';
@import '../../styles/constants';

.footer {
  display: flex;
  gap: 1.33rem;
  justify-content: center;
  padding: 2rem 0;
  &__link {
    
      text-decoration: none;
      padding: 3px;
      margin: 0;
      @include B3;
      color: $cta;
      background: none;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #b2d5f4;
      }
    }
  }
